
MatMod/dz1/.idea/workspace.xml
MatMod/dz1/.idea/workspace.xml
MatMod/dz1/cmake-build-debug/Testing/Temporary/LastTest.log
MatMod/dz1/cmake-build-debug/dz1.exe
MatMod/dz1/cmake-build-debug/CMakeFiles/dz1.dir/objects.a
MatMod/dz1/cmake-build-debug/CMakeFiles/dz1.dir/main.cpp.obj
MatMod/dz1/cmake-build-debug/CMakeFiles/dz1.dir/main.cpp.obj
MatMod/dz1/.idea/workspace.xml
*.tar
.idea/ 
cmake-build-debug/