
MatMod/dz1/.idea/workspace.xml
MatMod/dz1/.idea/workspace.xml
MatMod/dz1/cmake-build-debug/Testing/Temporary/LastTest.log
MatMod/dz1/cmake-build-debug/dz1.exe
MatMod/dz1/cmake-build-debug/CMakeFiles/dz1.dir/objects.a
MatMod/dz1/cmake-build-debug/CMakeFiles/dz1.dir/main.cpp.obj
MatMod/dz1/cmake-build-debug/CMakeFiles/dz1.dir/main.cpp.obj
MatMod/dz1/.idea/workspace.xml
*.tar
.idea/ 
cmake-build-debug/
*.zip
ВычМех/lab4/lab4_v1_Бенюх.docx
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_1.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_10.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_11.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_12.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_13.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_14.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_15.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_16.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_17.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_18.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_19.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_20.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_21.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_22.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_23.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_24.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_3.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_4.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_5.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_6.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_7.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_8.csv
FabLab_oil_and_gas/AutoML/task-AutoML/packed_data_for_students/chess_9.csv
FabLab_oil_and_gas/Equations_of_state/task/задание по УС.docx
FabLab_oil_and_gas/Equations_of_state/task/методика Брусиловского.docx
FabLab_oil_and_gas/Equations_of_state/task/СРК методика — копия.docx
*.tmp
FabLab_oil_and_gas/AutoML/task-AutoML/readme.txt
FabLab_oil_and_gas/Equations_of_state/solution/untitled0.py
FabLab_oil_and_gas/Equations_of_state/solution/untitled0.py
FabLab_oil_and_gas/Equations_of_state/solution/untitled0.py
FabLab_oil_and_gas/Equations_of_state/solution/untitled0.py
